:root {
    color-scheme: dark white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #01001b;
}

header {
    background-color: #030145;
    /* box-shadow: 5px 5px 10px #020036; */
    filter: drop-shadow(5px 5px 20px #020036);
    padding: 1rem;
    text-align: center;
}

section {
    width: max(300px, 80%);
    margin-inline: auto;
}

.link-container {
    /* background: red; */
    text-align: right;
    margin-block: 1rem;
}

.link-container a {
    text-decoration: none;
    background-color: navy;
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 20px #020036);

}

.blogs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog {
    border: 1px solid #ccc;
    padding: 0.7rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
        "index heading"
        "index description"
        "index link"
    ;
}

.blog h2:first-child {
    grid-area: index;
    justify-self: center;
}

.blog h2:nth-child(2) {
    grid-area: heading;
}

.blog p {
    grid-area: description;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.blog a {
    grid-area: link;
}

.blogs a {
    text-decoration: none;
    display: inline-block;
    color: #d1c0c0;
    background-color: rgb(6, 105, 6);
    border-radius: 5px;
    padding: 0.4rem;
    width: 65px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blogs a:hover {
    background-color: rgb(4, 80, 4);
    transform: scale(1.05);
}

.justify-left {
    text-align: justify;
}