<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment :: head-section}"></head>

<body>
    <header data-th-replace="~{fragment :: header-section}"></header>

    <main>
        <section>
            <div data-th-replace="~{fragment :: link-section(url='/blogs',name='Back to Home')}"></div>
            <div class="blog-container">
                <h2>Heading 1</h2>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, quos. Aut consequatur aperiam,
                    tenetur itaque nam vero soluta vel reiciendis maiores voluptatem assumenda voluptas commodi
                    perferendis praesentium beatae eaque quos.
                    Sunt accusamus delectus iure ipsam veritatis non, dolor dignissimos quidem id omnis tempore, nemo
                    deserunt iste. Ea, vero! Facere sunt velit quasi hic dignissimos porro culpa asperiores dolores
                    necessitatibus amet!
                    Debitis, consequatur laudantium ipsa atque veniam alias placeat quisquam? Nisi corrupti impedit
                    omnis odio deleniti neque dolorum porro vitae ducimus magnam inventore, distinctio vel delectus
                    voluptatibus animi necessitatibus laudantium recusandae?
                    Atque quo doloremque ipsam molestiae excepturi animi nemo libero pariatur tempora. Magni consequatur
                    ducimus debitis similique facere sed autem! Aliquid earum assumenda asperiores aut quod sunt facere
                    amet ipsa dolorum.
                    Distinctio, id harum hic, eaque architecto, aut aspernatur beatae molestiae atque optio voluptatem
                    dicta quia sapiente. Excepturi, quae itaque, molestiae, deleniti repellat sint sed ab neque suscipit
                    porro veniam laudantium?
                    Eos cum perferendis ipsam quibusdam molestias laborum non? Non ipsa ullam inventore, quia, expedita
                    repellat nihil rerum voluptatibus impedit nobis tempore quos. A quia tenetur qui odit enim rerum
                    soluta.
                    Impedit laboriosam laborum tenetur et, repellat molestiae esse facilis reprehenderit necessitatibus
                    saepe voluptatem vero consequatur consectetur quisquam optio quae vitae fuga dolore hic possimus
                    itaque veniam quis ad? Adipisci, tenetur?
                    Sunt cumque repellat, facilis optio quisquam quibusdam quod eius labore praesentium quae ad dolores
                    laborum possimus veniam, vero consequuntur eligendi eaque id! Recusandae fuga voluptates eaque quasi
                    nulla illo quas.
                    Eius tempora distinctio impedit totam, eveniet sapiente minus laboriosam ducimus doloribus delectus
                    optio temporibus expedita quidem ex rem architecto! Neque impedit excepturi amet labore. Maxime
                    exercitationem quo laudantium eum ratione!
                    Corrupti repellendus unde expedita esse officiis libero. Molestiae autem quae quaerat, tempora ut
                    libero velit harum dolorum repellendus ipsa dicta, ex nostrum delectus, quam totam consequuntur
                    repudiandae tempore. Ducimus, inventore.
                    Tempora vero ad sit, dicta ullam quia dolores non excepturi autem, incidunt eos similique. Unde nemo
                    consectetur nobis voluptatem, magnam impedit sunt velit, facilis soluta deserunt voluptatibus animi
                    necessitatibus voluptates.
                    Nemo quaerat saepe reiciendis quasi alias officia, consequatur repellat eius sequi! Quia fugiat quod
                    qui nam aperiam reprehenderit harum ipsa, excepturi, exercitationem iure ea! Quo amet commodi
                    molestias illo reprehenderit.
                    Vitae ab error dolorem alias. Quo repudiandae perferendis ullam laborum culpa ea sed earum, pariatur
                    iure, aperiam inventore dolorum? Beatae perspiciatis earum sequi vero! Maxime iste perferendis aut
                    recusandae numquam?
                    Incidunt, saepe ullam tempora nesciunt dolorum enim? Amet ipsa officiis voluptas tempore similique
                    maxime modi iure aut fugit mollitia quasi, dicta illum eos, sed optio magni est vero! Voluptatibus,
                    iure?
                    Hic, maxime earum omnis commodi unde labore cumque quos quam aliquam voluptas veritatis, suscipit,
                    quibusdam nesciunt dolorem laboriosam! Suscipit, modi nostrum numquam similique consequatur eveniet.
                    Expedita optio voluptate reiciendis nesciunt?
                    Cupiditate incidunt eligendi rerum eveniet minus pariatur reiciendis nostrum dolor! Fugit eos
                    repellendus repudiandae et impedit provident animi architecto consequatur velit facere similique quo
                    ea, eveniet nobis porro eius maxime.
                    Magni iusto pariatur sed nostrum unde in ea natus, velit ratione nam nihil, ullam veritatis facilis
                    eum officia optio commodi fuga. Ex optio sed reprehenderit doloremque, cumque explicabo nam ratione.
                    Quo laboriosam perferendis reiciendis nihil tenetur, voluptates illum animi rerum sit culpa aliquid
                    hic, cum delectus aliquam error esse. Consequuntur voluptas quaerat at corporis, hic saepe quas.
                    Architecto, eius odio.
                    Corporis provident porro doloribus quos, itaque quis maiores iste quibusdam deserunt eaque natus
                    numquam illo vero optio mollitia consequuntur ullam consectetur eum facilis quidem impedit. Fugiat
                    atque dignissimos et molestiae!
                    Nam a neque, nisi veritatis ullam omnis aperiam dolor vitae minima, distinctio sunt facere
                    cupiditate optio fuga, asperiores cumque quasi nihil earum. At provident aut distinctio explicabo
                    dolores. Eligendi, eum!
                    Vitae mollitia, distinctio neque aperiam amet a, nemo quam eaque alias quas reiciendis eveniet
                    aspernatur facilis ad! Eius, facere dicta nisi consequuntur sed ipsam quibusdam laudantium
                    consequatur ullam in iusto.
                    Saepe, at ratione reiciendis aspernatur in voluptates natus exercitationem vero, amet unde
                    voluptatum accusantium assumenda tenetur odit doloribus esse sit aliquam quos consequatur quasi
                    facilis! Quisquam quasi labore suscipit quia?
                    Corporis dignissimos vero voluptas odit cupiditate beatae rerum, libero, nemo autem neque officiis
                    optio, explicabo eos at? Aperiam, placeat, magnam praesentium ab esse quo, nostrum vero explicabo
                    mollitia illo perspiciatis?
                    Sint, adipisci dignissimos eveniet dolorem similique, et ratione aspernatur voluptatibus debitis
                    possimus aut natus cupiditate voluptas maxime? Repellendus neque provident iusto modi labore
                    accusamus. Odit totam doloremque consequuntur nesciunt dolor.
                    Optio, esse cum dignissimos, est molestias praesentium mollitia similique facilis quod iure minus
                    distinctio quidem numquam nostrum quis dolore at maxime. Accusantium ex nisi sunt incidunt velit
                    veritatis! Distinctio, eius.
                    Optio quo cum deleniti totam aliquid consequatur mollitia, perspiciatis natus dolorum, ratione
                    veritatis sit expedita tempora et officiis magnam rem adipisci, aliquam neque distinctio! Veniam ad
                    sit necessitatibus rem perspiciatis!
                    Porro nobis deserunt dicta architecto molestiae sunt distinctio cumque perferendis laboriosam
                    tenetur aut modi inventore, delectus sint animi atque maiores corporis quam beatae debitis aperiam?
                    Ad quo beatae delectus quos?
                    Odit, sed praesentium, maxime est vel nemo earum eum libero nulla itaque porro consequatur dolor
                    quos qui repellat obcaecati facere labore distinctio repudiandae unde molestiae sit atque,
                    laboriosam sapiente. Recusandae.
                    Dolorum illo vero, neque architecto ad dolor cum, reiciendis officia praesentium eos ex aut
                    temporibus vel doloribus mollitia eaque eveniet itaque quia aspernatur, laboriosam asperiores
                    sapiente expedita facere! Distinctio, eligendi!
                    Modi doloribus adipisci optio sunt laudantium, velit non, praesentium tempore iure impedit eius
                    consequuntur expedita, nostrum aperiam ipsam nemo dicta in. Atque facere dolores ex non fugit. Unde,
                    nemo porro!
                    Facere quod sapiente possimus id quam nam qui explicabo illo labore vero dolorem aspernatur eos
                    culpa dicta, incidunt excepturi numquam. Repudiandae ratione blanditiis mollitia et reprehenderit
                    laboriosam tempore corrupti quasi!
                    Dolor voluptate porro quasi, sapiente nostrum nihil dolorem laborum? Iure alias quae temporibus,
                    sint nobis soluta autem blanditiis inventore repudiandae et dignissimos eius itaque omnis maxime
                    sequi cupiditate? Laudantium, minima?</p>
            </div>
        </section>
    </main>
</body>

</html>